* {
  margin: 0px;
  padding: 0px;
}
/* 슬라이드 이미지 */
.slide-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin: 0 auto;
}
img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

/* 슬라이드 버튼 */
.slide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.button {
  margin: 10px;
}
