.main {
}
.main-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.main-slide-thum {
  max-width: 1076px;
  height: 508px;
  background-color: gray;
  border-radius: 20px;
  overflow: hidden;
}
.main-slide-thum a {
  width: 100%;
  height: 100%;
}
.main-slide-thum a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-slide-button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-top: 25px;
}
.main-slide-button {
  color: rgb(107, 107, 107);
}
.main-slide-button-circle {
  width: 12px;
  height: 12px;
  background-color: rgb(216, 216, 216);
  border-radius: 50%;
}
