section {
  display: flex;
  align-items: center;
  margin: 30px;
}
div {
  background-color: rgb(159, 174, 255);
  color: blue;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: none;
  width: 80%;
}
