* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  grid-template-rows: 100px 200px 100px;
}
.container div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box1 {
  background-color: antiquewhite;
}
.box2 {
  background-color: aqua;
}
.box3 {
  background-color: coral;
}
.box4 {
  background-color: red;
}
.box5 {
  background-color: blue;
}
.box6 {
  background-color: blueviolet;
}
.box7 {
  background-color: yellow;
}
.box8 {
  background-color: greenyellow;
}
.box9 {
  background-color: darkcyan;
}
